.player-image{
    max-width: 200px;
}
.border{
    border: 0px solid red;

}

.card-players{
    object-fit: contain;
    /* width: 100vw; */
    max-height: 300px;
    /* border: 1px solid red; */

}